@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-mono: "JetBrains Mono", monospace;
    --font-sans: "Inter";
}

html,
body {
    background: #1e1e2e;
    color: #cdd6f4;
    font-size: 14px;
    font-family: var(--font-sans);
}
